<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="modelDir" value="D:\ZxSoftErpSC\ZxSoftERP_SC.root\ZxSoftERP_SC\ZxModel\Model.Basic" />
    <add key="modelMap" value="[crej_cj,cadd_cad]"/>
  </appSettings>
</configuration>